[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
atomicwrites = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
